
$header-size: 45px;


* {
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    font-family: 'Titillium Web', sans-serif;
    color: white;
  }
  
  /* Section 1 */
  #section-1 {
    
    padding-bottom: 100px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  nav ul li {
    display: inline-block;
    padding: 10px 16px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-size: 150%;
  }
  nav ul li:hover {
    background-color: #ffffff3a;
  }
  nav ul li.active {
    background-color: #ffffff3a;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  #main-heading {
    color: white;
    font-size: $header-size;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    background-color: rgba(95, 94, 94, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
  #main-heading + p {
    color: white;
    font-size: $header-size;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
    background-color: rgba(95, 94, 94, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .video {
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 5px rgb(0,212,255,1) solid;
    border-radius: 20px;
  }
  
  /* Section 2 */
  #section-2 {
    background-color: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 50%, rgba(2,0,36,1) 100%);
    min-height: 745px;
  }
  .blurb {
    width: 24%;
    display: inline-table;
    text-align: center;
  }
  .blurb > img {
    width:90px;
    height:130px;
  }
  .blurb > h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
  }
  .blurb > p {
    font-size: 16px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .title-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 609px;
  }
  .title-box > h2 {
  padding-top: 100px;
  font-size: $header-size;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  }
  .title-box > p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  /* Section 3 */
  
  #section-3 {
    min-height: 820px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  #section-3 .title-box {
    padding-top: 100px;
  }
  #section-3 .title-box > p {
    font-size: 25px;
  }
  .big-button {
    color:white;
    padding: 25px 90px 25px 90px;
    transition: all 0.3s ease;
    background-color: #30BAE7;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
  }
  .big-button:hover {
    background-color: #207a97;
    
  }
  
  /* Footer */
  footer {
    background-color: #344B8E;
    min-height: 112px;
  }
  footer > h2 {
    padding: 50px 0 40px 0;
    font-size: $header-size;
    font-weight: bold;
    text-transform: uppercase;
  }
  .copyright {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .pdf {
    width:500px; 
    height:400px;
    padding-top:30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  /*Media Queries*/
  
  @media screen and (max-width: 1299px) {
    .container {
        margin: 0 50px;
    }
  }
  @media screen and (max-width: 768px) {
    .blurb {
        width: 48%;
        margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 619px) {
    #main-heading h1 {
        font-size: 35px;
    }
    #main-menu {
      width: 100%;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      border-left: 1px solid white;
      
  }
  #main-menu ul li {
    display: block;
    transition-duration: 1s;
    text-align: center;
    font-size: 200%;
  }
  }
  @media screen and (max-width: 515px) {
    .video {
        height: 200px;
        width: 250px;
    }
    .pdf {
        height: 200px;
        width: 250px;
    }
  }
  @media screen and (max-width: 481px) {
    #main-heading h1 {
        font-size: 25px;
    }
  }
  @media screen and (max-width: 481px) {
    .blurb {
        width: 90%;
        margin: 0 8%;
        
    }
  }
  