.contact {
    background-color: rgb(233, 233, 233);
    padding: 0 2rem 2rem 2rem;
}

.email-icon {
    max-width: 20%;
    max-height: 100px;
    grid-area: email;
    margin: 0 auto;
}

.linkedin-icon {
    max-width: 20%;
    max-height: 80px;
    grid-area: linkedin;
    margin: 0 auto;
}

.instagram-icon {
    max-width: 20%;
    max-height: 100px;
    grid-area: instagram;
    margin: 0 auto;
}

.github-icon {
    max-width: 20%;
    max-height: 100px;
    grid-area: github;
    margin: 0 auto;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "email linkedin"
        "instagram github";
    column-gap: 1rem;
    text-align: center;
    margin: 0 auto;
}

.contact-form {
   margin: 0 auto;

}
input[type="text"], input[type="email"], textarea {
    color: white;
    background-color: #b6b6b6;
    border: none;
    font-size: 18px;
    margin: 0 15px;
    border-radius: 5px;
    padding-left: 15px;

}
input[type="text"]::placeholder, input[type="email"]::placeholder,textarea::placeholder {
    color:gray
}
input[type="text"], input[type="email"] {
    width: 50%;
    height: 56px;
    display: flex;
}
textarea {
    height: 200px;
    width: 97.4%;
    padding-top: 25px;
    resize: none;
}
.form-row {
    display: flex;
}
input[type="submit"] {
    background-color: #30BAE7;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;

}

button[type="submit"] {
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: aqua;
    border-radius: 5px;
}

@media only screen and (max-width:425px) {
    .contact-grid {
        grid-template-columns: 1fr;
        grid-template-areas: "email"
            "linkedin"
            "instagram"
            "github";
    }

    input[type="text"], input[type="email"] {
        width: 100%;
    }

}