.cv {
    background: rgb(190, 190, 190);
    padding: 2rem;
    border: 3px black solid;
}

.cv-ul {
    list-style-type: none;
}

.cv-contact {
    display: block;
}


@media only screen and (max-width:425px) {
    .cv-contact {
        font-size: 1.2rem;
    }
        
    
}