* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Titillium Web", sans-serif;
    background-color: rgb(255, 255, 255);
}


header>h1 {
    padding-top: 15rem;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: bold;
}

header>h2 {
    color: rgb(136, 136, 136);
    text-decoration: underline;
    padding-bottom: 1rem;
}

.header-button {
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: $base-green-color;
    border-radius: 5px;
    transition: all 0.3s;
}

.header-button:hover {
    font-size: 2rem;
}

.img {
    background-image: url("../assets/desktop-setup.jpg");
    width: 100%;
    height: 600px;
    background-position-y: -350px;
    border-bottom: 8px solid black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "box-1 box-2 box-3";
    column-gap: 3rem;
    row-gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

}


.box-1 {
    background-color: rgb(196, 153, 153);
    grid-area: box-1;
    min-height: 20rem;
    border-radius: 10px;
    min-width: 15rem;
}

.box-2 {
    background-color: rgb(238, 204, 153);
    grid-area: box-2;
    min-height: 20rem;
    border-radius: 10px;
}

.box-3 {
    background-color: rgb(199, 230, 138);
    grid-area: box-3;
    min-height: 20rem;
    border-radius: 10px;
}

.box-h {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}

.box-p {
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    margin-top: 0.5rem;
    line-height: 2.3rem;
}

.box-img {
    display: flex;
    margin: 0 auto;
}


.project-img {
    max-width: 90%;
    max-height: 360px;
    border: 4px solid rgb(0, 0, 0);
    transition: all 0.2s;
    position: relative;
    z-index: 1;
    margin-top: 0.5rem;
}

.project-img-bottom {
    max-width: 90%;
    max-height: 360px;
    border: 4px solid rgb(0, 0, 0);
    transition: all 0.2s;
    position: relative;
    z-index: 1;
    margin-top: 0.5rem;
}

.relative {
    position: relative;
}

.project-button {
    margin: 1rem;
    background-color: rgb(233, 233, 233);
    border: 1px solid $base-green-color;
    padding: 0.6rem;
    color: $base-green-color;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s all;
}

.project-button:hover {
    text-decoration: none;
}

.project-header {
    background-color: $base-green-color;
    padding: 1rem;

}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". ."
        ". ."
        ". .";
    column-gap: 1rem;
    text-align: center;
}

.project-box {
    width: 100%;
    background-color: rgb(233, 233, 233);
    padding: 1rem;
    border-radius: 3px;
    transition: 0.3s all;
}

.project-box:hover {
    -webkit-box-shadow: 1px -1px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -1px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 1px -1px 26px -8px rgba(0, 0, 0, 0.75);

}

.hero-img {
    display: flex;
    margin: 0 auto;
    border: 5px solid black;
    max-height: 400px;
    max-width: 90%
}

#scroll-top {
    display: block;
    position: fixed;
    bottom: 20px;
    right: -100px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(151, 151, 151);
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 1s right;

}

#scroll-top:hover {
    background-color: rgb(192, 192, 192);
    transition: 0.3s background-color;
}

#arrow-img {
    max-width: 70%;
    height: 50px;
}

@media only screen and (max-width: 1139px) {
    .projects {
        grid-template-columns: 1fr;
        grid-template-areas:
            "."
            "."
            "."
            "."
            "."
            ".";
    }

    .project-header {
        text-align: center;
    }
}

@media only screen and (max-width:768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: "box-1"
            "box-2 "
            "box-3";
    }

    .img {
        background-position-x: -500px;
    }
}

@media only screen and (max-width:425px) {
    header>h1 {
        line-height: 4rem;
    }
}