footer {
    min-height: 250px;
    background-color: rgb(29, 29, 29);
}

.footer-ul {
    float: right;
    list-style-type: none;
    text-align: center;

}

.footer-ul>li {
    padding-top: 0.5rem;
}

.footer-info {
    text-align: center;
}

.footer-img {
    float: left;

}

@media only screen and (max-width:768px) {

    footer .container {
        display: inline-block;
        text-align: center;
    }

    .footer-ul {
        float: unset;
    }

    .footer-img {
        float: unset
    }    
}