footer {
    min-height: 250px;
    background-color: rgb(29, 29, 29);
}

.footer-ul {
    list-style-type: none;
}

.footer-ul>li {
    padding-top: 0.5rem;
}

.footer-img {
    float: right;
    padding-top: 8rem;
}



@media only screen and (max-width:768px) {

    footer .container {
        text-align: center;
    }

    .footer-info {
        text-align: center;
    }

    .footer-ul {
        text-align: center;
    }

    .footer-img {
        float: unset;
        padding-top: 2rem;
    }

    .footer-img.mt-2 {
        display: block;
    }
}