nav {
    min-height: 3.5rem;
    background-color: rgba(64, 68, 68, 0.95);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition-property: height;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,1,.5,1);
}

nav>ul {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

nav>ul>li {
    display: flex;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    margin: 0.06rem;
    transition: 0.3s all;
}

nav>ul>li.active {
    background-color: gray;
}

nav>ul>li:hover {
    background-color: gray;

}

#menu {
    transition-property: height;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,1,.5,1);
}

#hamburger {
    display: none;
    width: 50px;
    height: 20px;
    float: right;
    margin: 0.7rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 18px;
}

#hamburger span:nth-child(4) {
    top: 36px;
}

#hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(73, 77, 77, 0.95);
    top: 3.8rem;
    right: -1.5rem;
    padding: 2rem 1rem;
    transition: all 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: all 0.3s;
}

@media only screen and (max-width:768px) {
    nav>ul {
        height: 0;
        opacity: 0;
        float: none;
        
    }

    nav>ul.show {
        opacity: 1;
        display: flex;
        flex-direction: column;
        height: 20rem;
        transition: .25s all;
    }

    #hamburger {
        display: block;
    }
}